*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navbar nav {
    height: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.navbar nav ul {
    display: flex;
    justify-content: space-evenly;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}
h1{
    text-align: center;
    margin-top: 3rem;
}
.mainContact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainContact form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    gap: 1rem;
    padding: 2rem;
}

.mainContact form>* {
    min-width: calc(100% - 1rem);
    height: 2rem;
    font-size: 1.1rem;
}

.mainContact>div>h4 {
    padding: 2rem;
    font-size: 2rem;
    color: rgb(0, 170, 255);
}

body {
    height: 100%;
    background-color: #a5ddca;
    color: black;
    transition: background-color 0.3s, color 0.3s;
}

body.dark-mode {
    background-color: black;
    color: white;
}

footer {
    font-family: "Open Sans";
    background-color: #c3c4c2;
    color: white;
    text-align: center;
    
    position: fixed;
    bottom: 0;
    width: 100%;
}

main {
    width: 100%;
    height: 100%;
}

/* produ cards */
.shop-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-left: 80px;
    margin-right: 80px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.926);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.card img {
    width: 95%;
    height: 250px;
}

.price {
    color: grey;
    font-size: 22px;
}

.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.card button:hover {
    opacity: 0.7;
}

/* modal content*/
.modal-container {
    width: 80%;
    margin: 0 10%;
    max-height: 88vh;
    color: #fff;
    background-color: #121212;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*top*/
    position: fixed;
    overflow: auto;
    z-index: 9;
    top: 12vh;
    scrollbar-color: none;
}

.modal-container::-webkit-scrollbar {
    display: none;
}

.modal-header {
    display: flex;
    justify-content: space-around;
    background-color: #000;
    color: #fff;
    width: 100%;
}

.modal-header-title {
    justify-self: start;
}

.modal-header-button {
    cursor: pointer;
}

.modal-container > .modal-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    margin: 10px;
}

.modal-container > div > img {
    height: 120px;
    width: 120px;
}

.total-content {
    font-size: 25px;
    padding: 20px;
    text-align: center;
    padding-top: 20px;
}