*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navbar nav {
    height: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.navbar nav ul {
    display: flex;
    justify-content: space-evenly;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}
h1{
    text-align: center;
    margin-top: 3rem;
}
.mainContact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainContact form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    gap: 1rem;
    padding: 2rem;
}

.mainContact form>* {
    min-width: calc(100% - 1rem);
    height: 2rem;
    font-size: 1.1rem;
}

.mainContact>div>h4 {
    padding: 2rem;
    font-size: 2rem;
    color: rgb(0, 170, 255);
}

body {
    height: 100%;
    background-color: #a5ddca;
    color: black;
    transition: background-color 0.3s, color 0.3s;
}

body.dark-mode {
    background-color: black;
    color: white;
}

footer {
    font-family: "Open Sans";
    background-color: #c3c4c2;
    color: white;
    text-align: center;
    padding: 5px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
